*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-color: rgb(50, 6, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#login{
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 15vw;
    width: 20vw;
    padding: 20px 30px;
    gap: 20px;
   border-radius: 10px;
    justify-content: centers;
    align-content: center;
   background-color:white
}
input{
    font-size: 20px;
}
#btn{
    position: absolute;
    bottom: 15px;
    padding: 1px 3px;
}